<!DOCTYPE html>
<html>
    {% load static %}
    {% load leaflet_tags %}
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <title>IIT BHU WEBAPP</title>
    <style type = 'text/css'>
        body,html,#gis { margin:0; padding:0;  width: 100%; height: 100%;}
    </style>
    <script type = "text/javascript" src="../static/dist/leaflet.ajax.js"></script>
     
</head>
<body>
<!--<h1>This is a Map</h1>-->
<script type = "text/javascript">
     function our_layers(map,options){
         var datasets = new L.GeoJSON.AJAX("{% url 'hostel' %}",{
             onEachFeature: function(feature,layer){
                 layer.bindPopup(feature.properties.name.toString())
             }

         });

         datasets.addTo(map);
     }
</script>
{% leaflet_map "gis" callback="window.our_layers" %} 
</body>    
</html>